
/*
# Gallery
--------------------------------*/
.home-gallery {
    overflow: hidden;
}

.gallery-wrap {
    margin-right: -5px;
    margin-left: -5px;
}

.gallery-grid {
    margin: 5px;
    overflow: hidden;
}

.gallery-grid img {
    display: block;
    max-width: 100%
}

.gallery-grid1x1 {
    width: calc(100% / 8 - 10px);
}

.gallery-grid2x1,
.gallery-grid2x2 {
    width: calc(100% / 4 - 10px);
    margin-bottom: 6px;
}

.gallery-grid2x2 {
    width: calc(100% / 4 - 10px);
    margin-bottom: 7px;
}

@media screen and (max-width: 1200px) {
    .gallery-grid1x1 {
        width: calc(100% / 4 - 10px);
    }

    .gallery-grid2x1,
    .gallery-grid2x2 {
        width: calc(100% / 2 - 10px);
    }

    .gallery-grid2x2 {
        width: calc(100% / 2 - 10px);
    }
}

@media screen and (max-width: 576px) {
    .gallery-grid1x1 {
        width: calc(100% / 2 - 10px);
    }

    .gallery-grid2x1,
    .gallery-grid2x2 {
        width: calc(100% / 1- 10px);
        margin-bottom: 6px;
    }

    .gallery-grid2x2 {
        width: calc(100% / 1 - 10px);
        margin-bottom: 7px;
    }
}
